<!-- views/file.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h2><% title %></h2>
            <p>File size: </p>
            <p>Created At: </p>
            
            <h3>Delete File?</h3>
            <form action= <%= `folders/${folder.id}/files/${file.id}/delete %> method="post">
                <button type="submit">Delete File</button>
            </form>
            <% if (locals.errors) { %>
            <ul>
                <% errors.forEach((error) => { %>
                <li style="color: red"><%= error.msg %></li>
                <% });%>
            </ul>
            <% } %>
        </main>
        <%- include('footer'); -%>
    </body>
</html>