<!-- views/folder.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h2><%= title %></h2>
            <% if (files.length > 0) { %>
                <ul>
                    <% files.forEach((file) => { %>
                        <a href=<%= `/folders/${folder.id}/files/${file.id}` %>> 
                            <li><%= file.fileName %></li>
                        </a>
                    <% });%>
                </ul>
            <% } else { %>
                <p>There are no files in this folder.</p>
            <% } %>
            <h3>New File</h3>
            <form action= <%= `/folders/${folder.id}/files` %> method="post" enctype="multipart/form-data">
                <label for="fileName">File Name (optional):</label>
                <input type="text" name="fileName" id="fileName" />
                <label for="fileUpload">File: </label>
                <input type="file" name="fileUpload" id="fileUpload">
                <button type="submit">Submit</button>
            </form>
            <h3>Delete Folder</h3>
            <form action= <%= `/folders/${folder.id}/delete` %> method="post">
                <button type="submit">Delete Folder</button>
            </form>
            <% if (locals.errors) { %>
            <ul>
                <% errors.forEach((error) => { %>
                <li style="color: red"><%= error.msg %></li>
                <% });%>
            </ul>
            <% } %>
        </main>
        <%- include('footer'); -%>
    </body>
</html>
